/.AADL_Project.aadlbin
/.Communication_Properties.aadlbin
/.Deployment_Properties.aadlbin
/.Memory_Properties.aadlbin
/.Modeling_Properties.aadlbin
/.Programming_Properties.aadlbin
/.Thread_Properties.aadlbin
/.Timing_Properties.aadlbin
