<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
      uri="http://www.ge.com/research/osate/oyster/dsl/Oyster"
      class="com.ge.research.osate.oyster.dsl.oyster.OysterPackage"
      genModel="model/generated/Oyster.genmodel" />

  </extension>




</plugin>
