/.ARINC429.aadlbin
/.ARINC653.aadlbin
/.Code_Generation_Properties.aadlbin
/.Data_Model.aadlbin
/.Physical.aadlbin
/.SEI.aadlbin
/.ARP4761.aadlbin
/.EMV2.aadlbin
/.MILSTD882.aadlbin
/.behavior_properties.aadlbin
